﻿@page "/ApplicationStatus";
@inherits ApplicationStatusBase


@if (Result != null)
{
    <div class="jumbotron" id="StatusContainer">
        <div>
            <p id="pContent">
                <label>Søknadsstatus:</label><span> @status</span>
            </p>

            <div class="form-group" id="comment">
                <label for="comment">Kommentar:</label>
                <textarea class="form-control" style="background-color: white !important;" rows="5" readonly>@Result.Comment</textarea>
            </div>
        </div>
    </div>
}
else if (loadFailed)
{
    <p class="statusError">Beklager vi kunne ikke finne din søknad.</p>
}
else
{
    <p>Laster...</p>
}




