﻿@using Aprila.Models
@using Newtonsoft.Json
@using System.Net.Http
@inject NavigationManager NavigationManager
@page "/Cases"
@inherits CaseHandlerViewBase

<h3>Saker</h3>
<div class="form-inline">
    <input type="text" @bind="@nameSearch" @oninput="@clearOrgName" placeholder="Firma navn" class="form-control" />
    <input type="text" @bind="@orgNrSearch" @oninput="@clearOrgNr" placeholder="Org.nr" class="form-control" />
    <input type="text" @bind="@sakNrSearch" @oninput="@clearCaseNr" placeholder="Sak.nr" class="form-control" />
</div>
<br />
<div class="btn-group">
    <button @onclick="@SortByNameBtn" class="btn btn-secondary">Navn</button>
    <button @onclick="@SortByDateBtn" class="btn btn-secondary">Dato</button>
</div>
<ul style="padding:10px;">

    <li style="list-style-type:none; ">
        <label style="width:5%">Sak.nr</label>
        <label style="width:20%">Navn</label>
        <label style="width:12%">Org.nr</label>
        <label style="width:7%">Status</label>
        <label style="width:12%">Godkjent</label>
        <label style="width:17%">Dato</label>
    </li>

    @foreach (var appli in aplis)
    {
        if (appli.Active && appli.Company.OrgName.ToLower().Contains(nameSearch.ToLower()) && appli.Company.OrgNumber.ToString().Contains(orgNrSearch) && appli.CaseNumber.ToString().Contains(sakNrSearch))
        {
            <li style="list-style-type:none; margin-bottom:10px;">
                <a href="/case/@appli.CaseNumber" style="background-color:yellow; text-decoration:none; color:black; padding:10px;">
                    <label style="width:5%; cursor:pointer;">@appli.CaseNumber</label>
                    <label style="width:20%; cursor:pointer;">@appli.Company.OrgName</label>
                    <label style="width:12%; cursor:pointer;">@appli.Company.OrgNumber</label>
                    <label style="width:7%; cursor:pointer;">Aktiv </label>
                    <label style="width:12%; cursor:pointer;">Under behandling </label>
                    <label style="width:17%; cursor:pointer;">@appli.DateCreated </label>
                </a>
            </li>
        }
    }
    @foreach (var appli in aplis)
    {
        if (!appli.Active && appli.Company.OrgName.ToLower().Contains(nameSearch.ToLower()) && appli.Company.OrgNumber.ToString().Contains(orgNrSearch) && appli.CaseNumber.ToString().Contains(sakNrSearch))
        {
            <li style="list-style-type:none; margin-bottom:10px;">
                <a href="/case/@appli.CaseNumber" style="background-color:lightgrey; text-decoration:none; color:black; padding:10px;">
                    <label style="width:5%; cursor:pointer;">@appli.CaseNumber</label>
                    <label style="width:20%; cursor:pointer;">@appli.Company.OrgName</label>
                    <label style="width:12%; cursor:pointer;">@appli.Company.OrgNumber</label>
                    <label style="width:7%; cursor:pointer;">Inaktiv </label>
                    @if (appli.Accepted)
                    {
                        <label style="width:12%; cursor:pointer;">Godkjent</label>
                    }
                    else
                    {
                        <label style="width:12%; cursor:pointer;">Ikke godkjent</label>
                    }
                    <label style="width:17%; cursor:pointer;">@appli.DateCreated </label>
                </a>
            </li>
        }
    }
</ul>
