﻿@using System.Net.Http
@using Newtonsoft.Json
@using Aprila.Models
@using System.Text
@using System.Net.Mail
@using System.Net

@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@inherits CaseHandlerDetailViewBase

@page "/CaseHandler"
@page "/case/{CaseNumber:int}"
<div class="form-group DetailedView" style="display:inline;">
    <button @onclick="@BtnGoBack" style="position:absolute;right:5%;" class="btn btn-secondary">Tilbake</button>
    <div style="border:1px solid black; border-radius:5px; padding:5px; width:80.4%">
        <div class="form-inline">

            <label style="font-size:1.5em;">Navn:</label>
            <input type="text" readonly value="@company.OrgName" style="font-size:1.5em;width:44%;" class="form-control" />
            <label style="font-size:1.5em">Org.nr:</label>
            <input type="text" readonly value="@company.OrgNumber" style="font-size:1.5em;width:44%;" class="form-control" />
        </div>
        <br />
        <div>

            <div style="width:31%;display:inline-flex;">
                <label>Sak.nr:</label>
                <input type="text" readonly value=@appRM.CaseNumber style="flex:1;" class="form-control" />
            </div>
            <div style="width:35%;display:inline-flex;">
                <label>Kontaktperson:</label>
                <input type="text" readonly value="@kyc.ContactPerson" style="width:auto;flex:1;" class="form-control" />
            </div>

            <div style="width:31%;display:inline-flex;">
                <label>E-post:</label>
                <input type="text" readonly value="@kyc.Email" style="flex:1;" class="form-control" />
            </div>
        </div>


        <br />
        <div>

            <div style="width:31%;display:inline-flex;">
                <label>Tlf.nr:</label>
                <input type="text" readonly value="@kyc.Phone" style="flex:1;" class="form-control" />
            </div>

            <div style="width:35%;display:inline-flex;">

                <label>Konto.nr:</label>
                <input type="text" readonly value="@kyc.AccountNumber" style="flex:1;" class="form-control" />
            </div>
            <div style="width:31%;display:inline-flex;">

                <label>Omsetning:</label>
                <input type="text" readonly value="@kyc.MonthlyTurnover" style="flex:1;" class="form-control" />
            </div>
        </div>

        <br />
        <div>

            <div style="display:inline-flex; width:31%;">
                <label style="width:71%;">Skattemessig tilhørighet:</label>
                @if (kyc.BelongNorway)
                {
                    <input type="text" readonly value="Norge" class="form-control" />

                }
                else
                {
                    <input type="text" readonly value="@kyc.Country" style="background-color:red;" class="form-control" />

                }
            </div>
            <div style="width:35%;display:inline-flex;">
                @if (kyc.PEP)
                {

                    <label style="background-color:red">NB! Politisk Eksponert Person </label>

                }

            </div>
        </div>
    </div>

    <br />
    <label style="font-style:italic;">Info fra enhetsregisteret</label>
    <label style="font-style:italic; position:relative; left:20%">Formål</label>
    <label style="font-style: italic; position: relative; left: 40%;">Gamle kommentarer til kunde</label>
    <div>
        <textarea @bind="Result" style="width:20%; height:250px; padding:5px; display:inline;" readonly class="form-control"></textarea>
        <textarea type="text" readonly value="@kyc.Purpose" style="width:20%; display:inline; height:250px;padding:5px;" class="form-control" />
        <textarea readonly style="width:40%; height:250px;padding:5px;display:inline;" class="form-control">@appRM.Comment</textarea>
    </div>
    <button @onclick="@CheckOrgNum" class="btn btn-secondary">Hent info fra Brreg</button>

    <br />
    <label>Interne notater</label>
    <label style="position:relative; left:45%;">Kommentar til kunde</label>
    <div>
        <div>
<textarea style="width:40%; height: 250px;padding:5px;display:inline; margin-right:4px;" @bind="IntComment" class="form-control">@appRM.InternalNote</textarea>
<textarea style="width:40%; height: 250px;padding:5px;display:inline;" @bind="CusComment" class="form-control"></textarea>
        </div>

    </div>
    @if (appRM.Active)
    {
        <div class="noteBtns" style="">
            <button @onclick="@InternalComment" class="btn btn-secondary">Lagre</button>

            <button @onclick="@CustomerComment" class="btn btn-secondary" style="position:relative;left:40%">Send til kunde</button>
        </div>

    }
    <br />
    @if (oldAppli.Count > 1)
    {
        <label>Tidligere saker:</label>
        <br />
        <ul>

            @foreach (var appli in oldAppli)
            {
                if (appli.CaseNumber != CaseNumber)
                {
                    <li>
                        <a @onclick="@(() => OtherCase(appli.CaseNumber))" style="min-width:100px; background-color:bisque;">Case.nr: @appli.CaseNumber</a>
                    </li>
                }

            }
        </ul>

    }
    <br />
    <label style="position:relative;width:20%;left:25%;">Oppsummering</label>
    <br />
<textarea readonly @bind="Summary" style="position:relative;width:20%;left:25%; height:150px;" class="form-control"></textarea>
    <br />
    @if (appRM.Active)
    {
        <div class="FinishBtns" style="position:center; text-align:center; width:70%;">
            <button @onclick="@BtnAccept" class="btn  btn-success" style="margin-bottom:10px">Godkjenn</button>
            <button @onclick="@BtnDeny" class="btn btn-danger" style="margin-bottom:10px">Avslå</button>
        </div>
    }

</div>
