﻿@inherits CaseHandlerLoginBase

@page "/caseHandlerLogin"

    <div class="login">

        <EditForm Model=@handlerLogin
                  OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />


            <div class="loginContainer jumbotron" style="margin-bottom: 0px !important;">

                <label for="orgNumber"><b>Brukernavn</b></label>
                <br />
                <input type="text"
                       @bind=@handlerLogin.Username
                       @bind:event="oninput"
                       placeholder="Skriv inn brukernavn "
                       name="username"
                       required class="form-control" />
                <ValidationMessage For="@(() => handlerLogin.Username)"></ValidationMessage>
                <br />

                <label for="caseNumber"><b>Passord</b></label>
                <br />

                <input type="password"
                       @bind=@handlerLogin.Password
                       @bind:event="oninput"
                       placeholder="Skriv inn passord"
                       name="password"
                       required class="form-control" />
                <ValidationMessage For="@(() => handlerLogin.Password)"></ValidationMessage>
                <br />

                <button class="btn btn-secondary" type="submit" value="Login">Logg inn</button>

                <button type="button" class="btn btn-secondary" @onclick="ClearClick">Tøm alle felt</button>

                <span class="psw"><a href="forgotpassword">Glemt passord?</a></span>

                @if (@errorFlag)
                {
                    <div class="alert">
                        <span class="closebtn" @onclick="ClearError">&times;</span>
                        @errorMessage
                    </div>
                }

            </div>


        </EditForm>

        

    </div>

