﻿@page "/component/{caseNumber1:int}"


@inject NavigationManager NavigationManager

@inject AppState appState
@inherits NewCustomerBase;

@using AprilaCase.Data;


<h1>Takk for din søknad!</h1>

<p><b>Saksnummer: </b> @caseNumber1  </p>

<p>Du kan logge deg inn for å sjekke statusen på din søknad.</p>
<p>For å logge deg inn, bruker du organisasjonsnummer som brukernavn og saksnummer som passord.</p>

<button class="btn btn-secondary" @onclick="StatusSite">Status siden</button>
<button class="btn btn-secondary" @onclick="HomeSite">Hjem siden</button>



@code {

    [Parameter]
    public int caseNumber1 { get; set; }


    //Navigations to differet pages
    public void StatusSite()
    {
        NavigationManager.NavigateTo("CustomerLogin");

    }

    public void HomeSite()
    {
        NavigationManager.NavigateTo("/");
    }

}
