﻿@inject NavigationManager NavigationManager
@using Aprila.Models
@using System.Text
@page "/confirm/{Deny:bool}/{Case:int}/{OrgNr:int}"
@inherits ConfirmApproveBase

<h3>Bekreft</h3>

@if (Deny)
{
    <p>Er du sikker på at du vil avslå denne søknadden?</p>
    <button @onclick="@PostStatus" class="btn  btn-success">Ja</button>
    <button @onclick="@GoBack" class="btn btn-danger">Nei</button>

}
else
{
    <p>Er du sikker på at du vil godta denne søknaden?</p>
    <button @onclick="@PostStatus" class="btn  btn-success">Ja</button>
    <button @onclick="@GoBack" class="btn btn-danger">Nei</button>

}
