﻿@inherits CustomerLoginBase

@page "/customerLogin"

    <div class="container-form">
        <EditForm Model=@customerLogin
                  OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator/>
            <div class="loginContainer  jumbotron" style="margin: -50px; padding:16px;">
                <label for="orgNumber"><b>Organisasjonsnummer</b></label>
                <br />
                <input type="text"
                       @bind=@customerLogin.orgNo
                       @bind:event="oninput"
                       placeholder="Skriv inn organisasjonsnummer"
                       name="orgNumber"
                       required class="form-control" />
                <ValidationMessage For="@(() => customerLogin.orgNo)"></ValidationMessage>
                <br />
                <label for="caseNumber"><b>Saksnummer</b></label>
                <br />

                <input type="text"
                       @bind=@customerLogin.caseNo
                       @bind:event="oninput"
                       placeholder="Skriv inn saksnummer"
                       name="caseNumber"
                       required class="form-control" />
                <ValidationMessage For="@(() => customerLogin.caseNo)"></ValidationMessage>

                <br />
                <div class="form-group">
                    <button class=" btn btn-secondary" type="submit" value="Login">Se status</button>
                    <button type="button" class="btn btn-secondary" @onclick="ClearClick">Tøm alle felt</button>
                </div>

                @if (@errorFlag)
                {
                    <div class="alert">
                        <span class="closebtn" @onclick="ClearError">&times;</span>
                        @errorMessage
                    </div>
                }

            </div>
           
        </EditForm>
    </div>