﻿@page "/application"
@using AprilaCase.Data

@inject NavigationManager NavigationManager
@inject AppState appState

<h3>Customer Application</h3>

<p>Appstate caseNo: @caseNo</p>

@code {
    private int? caseNo { get; set; }

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
        if (appState.caseNo != null)
        {

            caseNo = appState.caseNo;
        }
    }
}
