﻿@page "/"
@inherits IndexBase

<button @onclick="@BtnLogin" style="position:absolute;right:5%;" class="btn btn-secondary">Logg inn</button>

<div class="container " style="margin-top:50px">
    
    <div class="jumbotron" style="padding:50px">
        <h1 class="display-4" style="font-size: 2.25rem">Velkommen til Aprila</h1>
        <hr class="my-4">
        <p class="lead">Ønsker du å bli kunde eller sjekke en eksisterende søknad?</p>
        <div class="noteBtns" style="">
            <button @onclick="@BtnNewApli" class="btn btn-secondary">Søk om å bli kunde</button>
            <button @onclick="@BtnReturning" class="btn btn-secondary">Sjekk søknad</button>
        </div>
    </div>
</div>


