﻿@page "/newCustomer"

@using AprilaCase.Data;
@using Aprila.Models;

@using System.Reflection;

@inject NavigationManager NavigationManager

@inject AppState appState
@inherits NewCustomerBase;

@using Newtonsoft.Json;


<!-- Organisation number -->
<!-- 899178602 -->

<h1>Søknad for å bli kunde hos Aprila</h1>

<!-- Input for org. number. maxLength-->
<form>
    <div class="form-inline">
        <label id="organisationNr">Skriv inn ditt organisasjonsnummer:   </label>
        <input type="text"
               id="organisasjonsnummer"
               class="form-control mb-2 mr-sm-4"
               placeholder="Organisasjonsnummer"
               onkeyup="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
               maxlength="9"
               required
               @bind="@organisasjonsnummer" />

    </div>
</form>

<button @onclick="CheckDataApiER" class="btn btn-secondary">Sjekk organisasjonen</button>
<br />
<br />

@if (organisasjonsnummer != null && organisasjonsnummer == company.OrgNumber)

{
    if (company != null)
    {

        if (company.Bankrupt)
        {
            //Message to the user
            // If bankrupt - can't move on.
            <p> Beklager, men bedriften er konkurs og du kan dessverre ikke gå videre. </p>
        }
        else
        {
            <form>
                @*Use fieldset to mark the information better*@
                <fieldset class="information" style="border: 2px solid grey; width: 100%; display: block; margin-left:2px; margin-right: 2px;
                          padding-top: 0.35em; padding-bottom: 0.625em; padding-left: 0.75em;">
                    <legend>Hentet informasjon:</legend>
                    <p> <b>Bedriftens navn: </b> @company.OrgName</p>
                    <p> <b>Organisasjonsnummer: </b> @company.OrgNumber</p>
                </fieldset>

            </form>

            <br />
            <p style="font-weight: bold;">Fyll ut skjema</p>


            //EditForm for Blazor
            <EditForm Model="@kyc" OnValidSubmit="@SubmitData">

                <DataAnnotationsValidator />
                <ValidationSummary />


                <form class="form-inline">
                    <div class="form-group">
                        @*Code for different inputs*@
                        <label class="sr-only" for="contactPerson">
                            Kontaktperson
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2"
                               id="name"
                               required
                               placeholder="Kontaktperson"
                               @bind-value="@kyc.ContactPerson" />
                    </div>


                    <div class="form-group">
                        <label class="sr-only" for="email">
                            Email
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2"
                               id="email"
                               required
                               placeholder="email@email.com"
                               @bind-value="@kyc.Email" />

                    </div>

                    <div class="form-group">
                        <!-- Phone number -->
                        <label class="sr-only" for="phone">
                            Telefonnummer:
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2"
                               id="phone"
                               required
                               onkeyup="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                               maxlength="8"
                               placeholder="Telefonnummer"
                               @bind-value="@kyc.Phone" />
                    </div>
                </form>


                <br />

                <!-- Har du prokura/signaturrett, eller daglig leder -->
                <!-- If no, you cant move on -->

                <label for="signatureRight">
                    Har du prokura/signaturrett, eller er daglig leder?
                </label>

                <input type="checkbox"
                       id="prokura"
                       name="prokura"
                       @bind-value="@kyc.SignatureRight"
                       required /> Ja <br />
                <br />


                @if (kyc.SignatureRight)
                {
                    <p class="takses">
                        <!-- Er bedriften skattemessig tilhørende i Norge -->
                        <label for="takses">
                            Er bedriften din skattemessig tilhørende i Norge?
                            <br />
                        </label>
                        <br />
                        <input type="radio" id="belongNorway"
                               name="belongNorway"
                               @bind-value="@kyc.BelongNorway"
                               required  class="form-control-inline"/> Ja <br />
                    </p>
                    <p>Hvis du ikke er skattemessig tilhørende i Norge, velg land:</p>

                    @*Dropdown menu for selecting countries. If they aren't from norway, they need to select country.*@
                    <select class="form-control" required @bind="SelectedCountryName" style="width: 130px; cursor: pointer;">
                        <option value="@(0)">--Velg land--</option>
                        @if (Lands != null)
                        {
                            foreach (var item in Lands.classificationItems)
                            {
                                <option value="@item.name">@item.name</option>
                            }
                        }

                    </select>
                    <br />


                    <!-- Account number.  -->
                    <!-- 11 numbers -->
                    <label for="accountNumber">
                        Hvilket kontonummer skal banken benytte for transaksjoner?
                    </label>
                    <br />
                    <input type="text"
                           id="accountNumber"
                           class="form-control mb-2 mr-sm-2"
                           style="width: 140px; height:36px;"
                           onkeyup="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                           maxlength="11"
                           placeholder="Kontonummer"
                           required
                           @bind-value="@kyc.AccountNumber" />

                    <form>
                        <!-- The purpose -->
                        <label for="purpose">
                            Hva er formålet med å bruke tjenestene til Aprila?
                        </label>
                        <br />
                        <textarea rows="4" cols="50" @bind="@kyc.Purpose" required></textarea>
                    </form>


                    <p class="monthlyTurnover">
                        <!-- Monthly Turnover for the organisation-->
                        <label for="monthlyTurnover">
                            Hva er bedriftens omsetning per måned?
                        </label>
                        <br />
                        <input type="text"
                               id="monthlyTurnover"
                               class="form-control mb-2 mr-sm-2"
                               style="width: 140px; height:36px;"
                               placeholder="Omsetning pr. mnd"
                               onkeyup="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                               required
                               @bind-value="@kyc.MonthlyTurnover" />
                    </p>


                    <p class="signature">
                        <!-- Er daglig leder, styeleder, styremedlem, reel rettighetshaver eller person som signerer på vegne av selskapet-->
                        <!-- Hvis ja, gi warning i saksbehandler view -->
                        <laben for="signature">
                            Er daglig leder, styreleder, styremedlem, reel rettighetshaver eller person som signerer på vegne av selskapet?
                        </laben>
                        <br />
                        <input type="radio"
                               name="signature"
                               required
                               @bind-value="@kyc.PEP" /> Ja <br />
                        <input type="radio"
                               name="signature"
                               @bind-value="@kyc.PEP" /> Nei <br />

                    </p>
                    <br />

                    <div class="button">
                        <button class="btn btn-secondary" type="submit">Send inn søknad</button>
                    </div>

                    <br />
                    <br />
                }
                else
                {
                    <!-- Message to the user -->
                    <p><b>Har du ikke prokura/signaturrett eller er daglig leder har du ikke mulighet til å gå videre.</b></p>
                }

            </EditForm>


        }
    }
    //Message to the user
    else if (loadFailed)
    {
        <p>Finner ikke organisasjonsnummeret</p>
    }
    else
    {
        <p>Siden lastes...</p>
    }

}



















