﻿

/* Bordered form */
.login form {
    border: 3px solid #f1f1f1;
    padding: 50px,50px,50px,50px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-radius:10px;

}
.container-form form {
    border: 3px solid #f1f1f1;
    padding: 50px 50px 50px 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    max-width:500px;
    
   }
    .container-form form label {
        color: #212529;
        font-size: 1rem;
        font-weight: 400;
        text-align:left;
    }
    /* Full-width inputs */
    /*.login Container, .login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/
    /* Set a style for all login buttons */
.buttonLogin {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for login buttons */
    .buttonLogin:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.login .cancelbtn {
    width: auto;
    padding: 10px 18px;
    /*background-color: #f44336;*/
    background-color:gray;
}
.login #title{
    margin-left:200px;
    margin-top:50px;
}

.cancelbtn:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.login .loginContainer {
    padding: 16px;
}

/* The "Forgot password" text */
.login span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span .psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
