﻿body {
    font-family: MaisonNeue,Arial,Helvetica,sans-serif;
}

#StatusContainer {
    /*background-color: white;*/
    padding: 35px;
    border-color: gray;
    border-width: 1px;
    border: solid #f7f7f9;
}

#Title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 30px;

}

#contentDiv {
    padding: 40px;
    line-height:30px;
}
#comment{
    margin-top:30px;
}

#pContent label {
    font-size: 1.1rem;
    color: black;
    font-weight:bold;
}
#comment label {
    padding: 5px;
    font-weight: bold;
}